/*
    Title: book-list.component.css
    Author: Phuong Tran
    Date: 16/04/2024
    Description: Exercise 5.3 - Data Tables
*/


.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
