<!--
    Title: about.component.html
    Author: Phuong Tran
    Date: 03/31/2024
    Description: Routing in Action.
-->

<div class="container">
  <div class="row">
    <figure class="col-4">
      <img src="assets/beethoven.PNG" alt="A statue of Beethoven.">
      <figcaption>Beethoven
        <a href="https://www.pexels.com/photo/a-a-bronze-statue-of-ludwig-van-beethoven-7325138/">
          Photo by Benjamin Lehman
        </a>
      </figcaption>
    </figure>

    <div class="col-8">
      <h2 class="page-heading">Beethoven</h2>
      <p class="text-body">
        Ludwig van Beethoven was a German composer and pianist. He is one of the most revered
        figures in the history of Western music; his works rank among the most performed of the
        classical music repertoire and span the transition from the Classical period to the
        Romantic era in classical music.
      </p>
    </div>
  </div>
</div>
