<!--
    Title: not-found.component.html
    Author: Phuong Tran
    Date: 04/28/2024
    Description: Exercise 6.3 - Layouts.
-->

<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 70%; margin-left: 13%;" class="mat-elevation-z0">
    <mat-card-title>
      <h2 style="text-align: center; font-size: 25px; margin-bottom: 50px;">
        Looks like a wrong turn!
      </h2>
      <h1 style="text-align: center; font-size: 150px;">404</h1>
    </mat-card-title>
    <br/>
    <mat-card-content style="text-align: center">
      <h2 style="text-align: center; font-size: 50px; margin-top: 25px;">Page Not Found</h2>
      <button mat-raised-button color="primary" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
