/*
    Title: contact.component.css
    Author: Phuong Tran
    Date: 03/31/2024
    Description: Routing in Action.
*/


/* this will make the bootstrap icon font usable in html */
@import "~bootstrap-icons/font/bootstrap-icons.css";
