<!--
    Title: composer-list.component.html
    Author: Phuong Tran
    Date: 03/31/2024
    Description: composer-list template.
-->


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Composer ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>

    <!-- loop over the composers object to populate the table -->
    <tr *ngFor = "let composer of composers">

      <!-- Included routing for the ID link -->
      <th scope="col">
        <a routerLink="/composer-details/{{composer.composerId}}">
        {{composer.composerId}}
      </a>
    </th>
      <th scope="col">{{composer.fullName}}</th>
      <th scope="col">{{composer.genre}}</th>
    </tr>
  </tbody>
</table>
