/*
    Title: composer-list.component.css
    Author: Phuong Tran
    Date: 03/31/2024
    Description: composer-list styles.
*/

.thead-dark {
  background-color: black;
  color: white;
}

table {
  width: 700px;
  margin: 100px auto;
}
