<!--
    Title: contact.component.html
    Author: Phuong Tran
    Date: 03/31/2024
    Description: Routing in Action.
-->

<div class="row">
  <div class="col-6">
    <h2 class="header">
      Address

      <!-- bootstrap icon font -->
      <i class="bi bi-geo-alt-fill"></i>
    </h2>
    <address>
      100 Composer Blvd. <br>
      Melody, USA
    </address>
  </div>
  <div class="col-6">
    <h2 class="header">
      Phone Number

      <!-- bootstrap icon font -->
      <i class="bi bi-telephone-fill"></i>
    </h2>
    <p>555-555-5555</p>
  </div>
</div>
