<!--
    Title: contact.component.html
    Author: Phuong Tran
    Date: 8/05/2024
    Description: Exercise 5.2 - Navigation and Layout.
-->

<div fxLayout="row wrap">
  <div fxFlex style="width: 300px">
    <div fxLayout="column">
      <mat-card-header>
        <h2 class="header">
          Address
          <mat-icon> location_on</mat-icon>
        </h2>
      </mat-card-header>
      <mat-card-content>
        <address>
          100 Writer Ave. <br>
          Orange County, USA
        </address>
      </mat-card-content>
    </div>
  </div>

  <div fxFlex style="width: 300px">
    <div fxLayout="column">
      <mat-card-header>
        <h2 class="header">
          Phone Number
          <mat-icon> phone</mat-icon>
        </h2>
      </mat-card-header>
      <mat-card-content>
        <p>888-888-8888</p>
      </mat-card-content>
    </div>
  </div>
</div>
