<!--
    Title: app.component.html
    Author: Phuong Tran
    Date: 16/04/2024
    Description: Exercise 5.3 - Data Tables.
-->

<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="logo">
      <img src="./assets/book-logo.jpg" width="38">
      <p style="color: green; font-size: 12px;">in-n-out-books</p>
    </div>
    <div>
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/book-list">Book List</button>
        <button mat-button routerLink="/contact">Contact</button>
        <button mat-button routerLink="/about">About</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title class="blue">
        {{assignment}}
      </mat-card-title>
      <br>
      <br>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
