<!--
    Title: about.component.html
    Author: Phuong Tran
    Date: 8/05/2024
    Description: Exercise 5.2 - Navigation and Layout.
-->

<div fxLayout="row wrap">
  <div fxFlex style="width: 300px">
    <div fxLayout="column">
      <figure>
        <img src="assets/wiliam.jpeg" alt="A portrait of William Shakespeare." width="300">
        <figcaption>
          <p>A portrait of William Shakespeare.</p>
        </figcaption>
      </figure>
    </div>
  </div>

  <div fxFlex style="width: 300px">
    <div fxLayout="column">
      <p>
        William Shakespeare was an English playwright, poet, and actor.
        He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist.
         He is often called England's national poet and the "Bard of Avon".
      </p>
    </div>
  </div>
</div>
